body{
    margin: 0%;
    background-color: #62493C;
}


.Header{
    margin: 0%;


}

.Sidebar{
    width: 20%;
    max-width: 20%;
}


.Sidebar-background{
    width: 250px;
        flex-direction: column;
}

.Books{
    width: 100%;

        flex-wrap: wrap;
        justify-content: space-evenly;
}

.Book_style{
    background-color: white;
    width: 254px;
    height: 274px;
}


/* GLÖM INTE VALIDERING!!!!!  "Validator.W3.org*/