body{
    margin: 0%;
    background-color: #62493C;
}


.Header{
    margin: 0%;

    display: flex;  
}

.Sidebar{
    width: 20%;
}

.Sidebar-background{
    width: 250px;
    display: flex; 
        flex-direction: column;
}

.Books{
    width: 80%;
    display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}